stages:
  - tests

test:
  stage: tests
  tags: ["python3.10"]
  script:
    - python3.10 -m venv venv
    - source venv/bin/activate
    - pip3.10 install uv
    - uv run pytest --cov --cov-report=term-missing --cov-fail-under=80 --capture=no
  only:
    - develop
    - /^release.*/
    - main
